img {
    width: fit-content;
    height: fit-content;
    border: 0px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}
input {
    width: 300px;
    height: 60px;
    font-size: 40px;
    display: flex;
}
li {
    font-size: 22px;
    width: 300px;
    margin: 2px;
}
#name {
    font-size: 56px;
    height: fit-content;
    margin: 30px 0 70px;
}
#infodiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#information {
    font-size: 38px;
    width: fit-content;
    margin-right: 30px;
    
}
#information p {
    margin: 0 0 20px;
}